SHG_Project_Client/res/RequestHandlerSoa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://max" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://max" xmlns:intf="http://max" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://max" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="xml" type="xsd:string"/>
   <element name="getDataReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataRequest">

      <wsdl:part element="impl:xml" name="xml">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDataResponse">

      <wsdl:part element="impl:getDataReturn" name="getDataReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RequestHandlerSoa">

      <wsdl:operation name="getData" parameterOrder="xml">

         <wsdl:input message="impl:getDataRequest" name="getDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDataResponse" name="getDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RequestHandlerSoaSoapBinding" type="impl:RequestHandlerSoa">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RequestHandlerSoaService">

      <wsdl:port binding="impl:RequestHandlerSoaSoapBinding" name="RequestHandlerSoa">

         <wsdlsoap:address location="http://localhost:8081/SHGDetailsServer/services/RequestHandlerSoa"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
